/* CSS files add styling rules to your content */

@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,600&display=swap|Open+Sans');

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif,
    helvetica, arial, sans-serif;
  margin: 1.4em !important;
  background-color: #FEFEFE;
  color: #262d2d;
  min-height: 100%;
}

p {
  line-height: 1.8em;
  font-size: 1.1em;
  font-weight: 400;
}

a {
  color: #262d2d;
  text-decoration: underline;
}

h1 {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 42px;
  margin-bottom: 70px;
}

h2 {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

h4 {
  font-family: "Open Sans", sans;
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 0px;
}

img {
  max-width: 100%;
}

.content,
.container {
  /* I added this */
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.content {
  margin-top: 100px;
}

footer {
  height: 70px;
  border-top: 1px solid #e4e4e4;
  position: relative;
  margin-top: 80px;
  padding-top: 20px;
}

/* css grids */

.wrapper {
  display: grid;
  grid-gap: 0px;
}

.wrapper1 { /* home */
  display: grid;
  grid-gap: 0px;
}

@media only screen and (max-width: 750px) {
  .wrapper {
    grid-template-columns: 0% 100%;
  }
  .wrapper1 {
    grid-template-columns: 100% 0%;
  }
}

@media only screen and (min-width: 750px) {
  .wrapper {
    grid-template-columns: minmax(0%, 15%) minmax(640px, 70%) minmax(0%, 30%);
  }
  
  .wrapper1 {
    grid-template-columns: minmax(80%, 100%) minmax(20%, 30%);
  }
}


.box {
  background-color: #e4e4e4;
  /* color: #fff; */
  border-radius: 5px;
  padding: 20px;
}

.box:hover {
  background-color: #FFD026; /* tried A6D2D1, 648e8e */
  border-radius: 5px;
  text-decoration: underline;
}

.wrapper2 {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.wrapper2 a {
  text-decoration: none;
}

/* end CSS grid tests */

/* from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  max-width: 960px;
  margin: auto;
}

/* Style the links inside the navigation bar */
.navbar-nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 3px;
}

/* Change the color of links on hover */
.navbar-nav a:hover {
  background-color: #FFD026;
}

/* Add an active class to highlight the current page */
.navbar-nav a.active {
  color: back;
  font-weight: bold;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar-nav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .navbar-nav a {
    display: none;
  }
  .navbar-nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

.navbar-brand {
  float: left;
}
.navbar-nav {
  float: right;
}

.title {
  padding: 10px 4px 10px 0px;
  text-decoration: none;
  font-size: 26px;
  font-weight: 200;
  font-family: "Vollkorn", serif;
}

.title a {
  text-decoration: none;
}

