---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Hello there 👋<br />
I'm Tom, a digital product designer</h1>

      <div class="wrapper1">
        
        <div>

<p><strong>I like solving meaningful problems, collaboratively.</strong></p>

<p>I work in London, where I'm a Lead Product Designer at Farewill.</p>

<p>I live in York.</p>

<p>I have a particular interest in death, and how innovation can solve problems for bereaved families and others during key life events.</p>

<p>While you're here, feel free to check out <a href="{{ '/blog/' | url }}">my blog</a> and <a href="{{ '/user-manual/' | url }}">user manual</a>.</p>

<img src="/img/tom-sticky-notes.jpg";>

</div>
        <div>
          
        </div>
        
        </div>